@charset "UTF-8";

body{
    background-color:lavender;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;   
}
h1{
    color:darkgreen;
}
h2{
    color:blue;
}
p{
    text-align: justify;
}